@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

@layer base {
html {
  font-family: "Ubuntu", sans-serif;
}}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;  
  -webkit-text-fill-color: white;
}

input {
  outline: none !important;
  border: 1px solid #374151;  
}

input:hover, input:focus {
  border: 1px solid #2563eb;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}